%btn{
    min-height: 4.4rem;
    min-width: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0 1.6rem;
    transition: 200ms ease;
    cursor: pointer;
    border-radius: 2.5rem;

    &:focus, &:hover{
        box-shadow: $elevate1dp;
        outline: 0;
    }

    &:active{
        filter: opacity(.88);
    }

}

%outline{
    border-width: 1px;
    border-style: solid;
    border-radius: 10rem;
}


%filled{
    border: 1px solid transparent;
}

button{
    @extend %btn;
}

.icon{
    min-width: 2.4rem;
    min-height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 200ms ease;
    fill: $surfaceColor;

    &:focus,&:hover{
        opacity: .8;
    }
}