
.card{
    @include set-background-color($backgroundColor);
    display: flex;
    flex-flow: wrap;
    border-radius: 1rem;
    //margin  2.4rem all elements inside newsCon except image
    .card-img{
        @include set-background-color(#121212);
        margin: 0;
        min-height: 20rem;
        min-width: 30rem;
        /* width: 100vw; */
        width: 100%;
        height: calc(100vw - 60vw);
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        @include respond-to('medium2'){
            width: 100%;
            max-height: 48.7rem;
        }
        //hide image if no image is loaded
        &::before,&[src=""]{
            display: none;
        }
    }
    .card-body{
        flex: 1;
        padding: 2.4rem 0;
        display: flex;
        flex-flow: column;
        justify-content: center;
        @include respond-to('medium2'){
            /* min-width: 14rem; */
        }
        .caption{
            border-top: 1px solid $primaryColorLight;
            padding-top: 0.4rem;
            margin-top: 0.4rem;
            margin-bottom: 1.6rem;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            &>*+*{
                margin-top: 0.8rem;
            }
            /* &>*+*{
                margin-left: 1.2rem;
            } */
            @include respond-to('medium'){
                flex-flow: row;
                align-items: center;
                padding-top: 0.8rem;
                margin-top: 0.8rem;
            }
        }
        a{
            margin-top: auto;
        }
        .author{
            min-width: max-content;
        }
        a,.date-posted{
            display: inline-flex;
            align-items: center;
        }
        .date-posted{
            /* gap: 0.8rem; */
            flex-flow: wrap;
            &>*+*{
                margin-left: 0.8rem;
                font-size: inherit;
            }
        }

        .description{
            margin-bottom: 0.8rem;
            @include respond-to('medium2'){
                margin-bottom: 2.4rem;
            }
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            overflow: hidden;
        }
        .workType{
            padding: 0.4rem 1.6rem;
            border-radius: 0.5rem;
            &.fullTime{
                @include set-background-color($primaryColorLight);
            }
            &.partTime{
                @include set-background-color($secondaryColor);
            }
        }
    }
}
.events{
    &.card{
        @include set-background-color($eventCardMobile);
        @include respond-to('medium2'){
            @include set-background-color($primaryColorLight);
        }
        *{
            color: currentColor;
        }
        .card-img{
            @include respond-to('medium2'){
                min-width: 0;
                min-height: 0;
                max-height: 16.4rem;
            }
        }
        .card-body{
            .caption{
                border-color: currentColor;
            }
        }
    }
}
.jobs{
    &.card{
        border-radius: 1rem;
        @include set-background-color($surfaceColor);
        border: 1px solid $primaryColorLight !important;
        .card-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3{
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 0;
                flex: 1;
                //temporary
                font-family: 'Open Sans', sans-serif;
            }
            span{
                max-height: 3rem;
            }
        }
        .card-body{
            padding: 0.8rem 0;
            .caption{
                margin-bottom: 0.8rem;
            }
        }
    }
}
.card.category-list{
    background-color: transparent;
    padding: 1.6rem;
    border: 1px solid $disabled;
    flex-flow: column;
    align-items: stretch;
    li+li{
        margin-top: 0.8rem;
    }
    li a{
        display: flex;
        align-items: center;
        color: currentColor;
        text-align: start;
        
        &>*+*{
            margin-left: 0.8rem;
        }
        .forum-image{
            margin: 0.175rem;
            width: 2.1rem;
            height: 2.1rem;
            border-radius: 10rem;
            background-position: center;
            background-size: cover;
            &.help{
                background-image: url('../images/help-forum-pic.svg');
            }
            &.general{
                background-image: url('../images/general-forum-pic.svg');
            }
            &.blog{
                background-image: url('../images/blog-forum-pic.svg');
            }
        }
        .forum-title{
            max-width: calc(90%);
            width: 0;
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
    