a{
    min-width: 4.4rem;
    min-height: 4.4rem;
    text-decoration: none;
    color: $highEmphasis;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a:link, a:visited{
    color: $primaryColorLight;
}

a:focus{
    filter: opacity(.88);
}

a:hover{
    filter: opacity(.96);
    text-decoration: underline;
}

a:active{
    color: $primaryColor;
    filter: opacity(1);
}
