html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,
p,a,span,li,dl,
label,button,input,textarea,
thead,tbody,tfoot,th{
    line-height: 1.5;
    letter-spacing: 0.025rem;
    font-weight: 400;
}

button, %btn{
    font-weight: 500;
    text-transform: uppercase;
    span,a{
        font-weight: 500;
    }
}

input, a, p, span, button, %btn{
    font-size: $basic-text;
    font-family: 'Roboto', sans-serif;
}

header h1{
    font-family: 'Cinzel', serif;
    font-size: 2.8rem;
}

h2{
    font-size: $h2-text-mobile;
    @include respond-to('large'){
        font-size: $h2-text-desktop;
    }
}

b{
    font-weight: 500;
}

table{

    thead{
        font-size: $h3-text-mobile;
    }

    tbody{
        font-size: $basic-text;
    }
    
    tfoot{

    }
}
//for mobile nav h1
.mainNav{
    h1{
        font-size: $basic-text;
    }
}

//for adminNav
.adminNav{
    h3{
        font-size: $basic-text;
    }
}

.form{
    h3{
        font-size: $h3-text-mobile;
        text-transform: capitalize;
        color: $primaryColorLight;
        text-align: center;
    }
    h4{
        font-size: $h3-text-mobile;
    }
    .outsideLabel,label{
        font-size: $basic-text;
    }
}


//loginPage

.loginMain{
    h1{
        font-family: 'Roboto', sans-serif;
        font-size: $h1-text-mobile;
    }

    span{
        color: $mediumEmphasis;

        @include respond-to('large'){
            font-size: $overline-text-desktop;
            letter-spacing: 0.015rem;
        }
    }
}

.textFieldContainer{
    .error{
        font-size: 1rem;
        letter-spacing: 0.15rem;
        color: $errorColor1;
    }
}