html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,
p,a,span,li,dl,
label,button,input,textarea,select,
thead,tbody,tfoot,th{
    line-height: 1.5;
    letter-spacing: 0.025rem;
    font-weight: 400;
}
// to align with other input
select{
    text-indent: -2px;
}

button, %btn{
    font-weight: 500;
    text-transform: uppercase;
    span,a{
        font-weight: 500;
    }
}

input, a, p, span, button, %btn, textarea, select, option{
    font-size: $basic-text;
    font-family: 'Roboto', sans-serif;
}

header h1{
    font-family: 'Cinzel', serif;
    font-size: 2.8rem;
}

h2{
    font-size: $h3-text-mobile;
    @include respond-to('medium2'){
        font-size: $h2-text-mobile;
    }
    @include respond-to('large'){
        font-size: $h2-text-desktop;
    }
}
h3{
    font-size: $h3-text-mobile;
    @include respond-to('large'){
        font-size: $h3-text-desktop;
    }
}

b{
    font-weight: 500;
}

table{

    thead{
        font-size: $h3-text-mobile;
    }

    tbody{
        font-size: $basic-text;
    }
    
    tfoot{

    }
}
//for mobile nav h1
.mainNav{
    h1{
        font-size: $basic-text;
    }
}
//index
.welcomeBox{
    h2{
        font-size: $h3-text-mobile;
        @include respond-to('medium2'){
            font-size: $h2-text-mobile;
        }
    }
}
.card{
    h3{
        font-size: $basic-text;
        font-weight: 500;
        @include respond-to('medium2'){
            font-size: $h3-text-desktop;
            font-weight: 400;
        }
    }
    &.jobs{
        h3{
            @include respond-to('medium2'){
                font-size: $basic-text;
                font-weight: 500;
            }
        }
    }
    .date-posted, .availablePos{
        font-size: $smallest-text;
        color: $mediumEmphasis;
    }
    a{
        font-family: 'Roboto Slab', serif;
        font-weight: 500;
    }
}
    

//userSurvey
.mainContent{
    .container{
        h1{
            font-size: $h3-text-mobile;
            font-weight: 500;
            @include respond-to('medium2'){
                font-size: $h1-text-desktop;
            }
        }
        .surveyCard{
            h3{
                font-size: $h3-text-desktop;
                text-transform: capitalize;
            }
        }
    }
}

//for adminNav
.adminNav{
    h3{
        font-size: $basic-text;
    }
}

.form{
    h3{
        font-size: $h3-text-mobile;
        text-transform: capitalize;
        span{
            font-size: inherit;
        }
    }
    h4{
        font-size: $h3-text-mobile;
    }
}

.editProfile{
    h3{
        font-size: $basic-text;
        font-weight: 500;
        @include respond-to('medium2'){
            font-size: $h3-text-mobile;
        }
    }
}

//form
.outsideLabel,label{
    font-size: $basic-text;
}
.optionSpan{
    font-size: 2.7rem;
}
.answerCon{
    li{
        font-size: $basic-text;
        font-weight: 500;
        span,p{
            font-size: inherit;
            font-weight: inherit;
        }
        .answer-ratio{
            font-weight: 400;
        }
    }
}


//loginPage

.loginMain{
    h1{
        font-family: 'Cinzel', serif;
        font-size: $h1-text-mobile;
        font-weight: 500;
    }
    header{
        .changePassHeader{
            color: $primaryColorLight;
            font-size: 2.4rem;
            font-weight: 500;
            text-transform: capitalize;
        }
        span{
            color: $mediumEmphasis;
            @include respond-to('large'){
                font-size: $overline-text-desktop;
                letter-spacing: 0.015rem;
            }
        }
    }
}

.textFieldContainer{
    #verification-code{
        letter-spacing: 4.2rem;
    }
    .error{
        font-size: 1rem;
        letter-spacing: 0.15rem;
        color: $errorColor1;
    }
}
.error{
    font-size: 1rem;
    letter-spacing: 0.15rem;
    color: $errorColor1;
}

//footer
.mainFooter{
    h1{
        font-family: 'Cinzel', serif;
        font-weight: 700;
        font-size: $h3-text-desktop;
        font-size: $h3-text-mobile;
        @include respond-to('medium2'){
            font-size: $h3-text-desktop;
        }
        span{
            font-family: inherit;
            font-weight: inherit;
            color: $primaryColorLight;
            letter-spacing: 0.15rem;
            font-size: $basic-text;
            @include respond-to('medium2'){
                font-size: $overline-text-desktop;
            }
        }
    }
    .tagline{
        font-family: 'Poppins',sans-serif;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 800;
        font-size: 1.6rem;
        @include respond-to('medium2'){
            font-size: $overline-text-desktop;
        }
    }
}