//just to move this header behind the form.
.dataInput{
    .pageSpecificHeader{
        position: absolute;
        z-index: 1;
        width: 100%;
    }
}

.mainContent{
    input[type="checkbox"]{
        position: relative;
        border-color: $disabled;
        border-width: 0.25rem;
        border-style: solid;
        border-radius: 0.5rem;
        min-width: 1.7rem;
        height: 1.7rem;
        transition: 400ms ease;
        &:focus,&:hover{
            border-color: $primaryColorLight;
        }
        &:checked{
            border-color: transparent;
            width: 2rem;
            height: 2rem;
            &::before{
                background-image: url('../images/checked.svg');
            }
        }

        &::before{
            content: '';
            display: inline-flex;
            background-size: 100%;
            background-position: center;
            width: 100%;
            height: 100%;
        }

    }
    &.adminForm{
        z-index: 5;
        max-height: calc(100% - 4.8rem);
        form{
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row;
        }
        .form{
            flex: 3;
            height: 100%;
            max-height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            //forfirefox scrollbar
            scrollbar-width: thin;
            scrollbar-color: $disabled $surfaceColor;
            &::-webkit-scrollbar{
                width: 0.5rem;
            }
            &::-webkit-scrollbar-track{
                background-color: $surfaceColor;
            }
            &::-webkit-scrollbar-thumb{
                background-color: $disabled;
                border-radius: 5rem;
            }
        }
        //left side of the form -----------------------------
        .form:first-child{
            padding: 2.4rem 7.2rem;
            @include set-background-color($surfaceColor);
            border-radius: 1rem 0 0 1rem;
            
            h2{
                display: flex;
                align-items: center;
                color: $primaryColorLight;
                padding-bottom: 2rem;
                border-bottom: 1px solid $disabled;
            }
            h3{
                margin-top: 3.2rem;
                text-align: center;
                color: $primaryColorLight;
            }
            input[type="text"],input[type="date"],input[type="tel"],input[type="email"],select,textarea{
                border-radius: 0.5rem;
                border-right: 1px solid $textfield-border !important;
                min-width: 32.4rem;
                padding-right: 1.6rem;
                &:focus{ 
                    border-right: 1px $mediumEmphasis solid!important;
                }
            }
            
            .outsideLabel{
                display: block;
                margin-top: 1.6rem;
                margin-bottom: 0.8rem;
                white-space: nowrap;
            }
            .smallComponentsContainer{
                display: flex;
                flex-flow: wrap;
                justify-content: space-between;
                &>*{
                    margin-top: 1.6rem;
                }
                //radioButtons
                fieldset{
                    border: none;
                    display: flex;
                    gap: 2.4rem;
                    padding: 0;
                }
                input[type="radio"]{
                    width: 15rem;
                    height: 4rem;
                    border: none;
                    &::before{
                        //1,2 reset
                        position: static;//1
                        transform: translate(0);//2
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                        color: $primaryColorLight;
                        border-color: currentColor;
                        border: 1px solid;
                        border-radius: 0.5rem;
                        background-repeat: no-repeat;
                        background-position: left 1.2rem center ;
                        transition: 200ms ease;
                        background-image: url('../images/radioDefaultIcon.svg');
                    }
                    &:checked::before{
                        @extend %filled;
                        @include set-background-color($primaryColorLight);
                            background-image: url('../images/workTypeActiveIcon.svg');
                    }
    
                    &#full-time::before{
                        content: "Full-Time";
                    }
                    &#part-time::before{
                        content: "Part-Time";
                    }
                    &#open-status::before{
                        content: "Active";
                    }
                    &#closed-status::before{
                        content: "Archived";
                    }
                    &#male-id::before{
                        content: "Male";
                    }
                    &#female-id::before{
                        content: "Female";
                    }
                    &#employed-id::before{
                        content: "Employed";
                    }
                    &#unemployed-id::before{
                        content: "Unemployed";
                    }
                }
    
                input[type="number"]{
                    @extend %outline;
                    padding: 0.8rem 0.4rem 0.8rem 1.6rem;
                    max-width: 8rem;
                    max-height: 4rem;
                    color: $mediumEmphasis;
                }
            }
            .richTfContainer{
                border-radius: 0.5rem;
                min-width: 32.4rem;
                min-height: 31.4rem;
                &:last-child{
                    margin-bottom: 4.8rem;
                }
            }

            //general setting at form that has 2 columns----------
            .infoCon{
                display: flex;
                justify-content: space-between;
                gap: 2.4rem;
                border-bottom: 1px solid $disabled;
                padding-bottom: 4.8rem;
                
                max-width: 100%;
                &:last-child{
                    border: none;
                }
                h3{
                    margin-top: 1.6rem;
                    overflow: hidden;
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                textarea{
                    resize: none;
                }
                .infoSubCon{
                    margin-top: 0.6rem;
                    max-width: 74.5rem;
                    flex: 1;

                    .smallComponentsContainer{
                        & > div{
                            flex: 1;
                            //remove textfield min width
                            .textFieldContainer{
                                min-width: 0;
                                input,select,textarea{
                                    min-width: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        //start of right side of the form-------------------------
        .form:last-child,.imageInputContainer,.btnGroupContainer{
            display: flex;
            flex-flow: column;
            gap: 0.8rem;
        }
        .form:last-child{
            position: relative;
            max-width: 31.6rem;
            align-items: center;
            padding: 4rem 0rem 4rem;
            border-radius: 0 1rem 1rem 0;
            background-color: $backgroundColor;
            box-shadow: $elevate1dp;
            @include respond-to('large'){
                padding: 7.2rem 0rem 4.8rem;
            }
            h4{
                color: $mediumEmphasis;
            }
            .closeIcon{
                position: absolute;
                top: 1.6rem;
                right: 1.6rem;
                width:3rem;
                height:3rem;
            }
            .btnGroupContainer, .dateInfo{
                    min-width: 16rem;
                    width: 16rem;
                @include respond-to('large'){
                    min-width: 22rem;
                    width: 22rem;
                }
                
            }
            .imageInputContainer{
                position: relative;
                min-width: 12rem;
                width: 12rem;
                max-width: 12rem;
                min-height: 12rem;
                max-height: 12rem;
                gap: 0;
                @include respond-to('large'){
                    min-height: 22rem;
                    max-height: 22rem;
                    min-width: 22rem;
                    width: 22rem;
                    max-width: 22rem;
                }
                //for images that must be landscape
                &.landscape{
                    min-width: 21.6rem;
                    width: 21.6rem;
                    min-height: 12.1rem;
                    @include respond-to('large'){
                        min-width: 28rem;
                        width: 28rem;
                        min-height: 15.7rem;
                    }
                }
                
                img{
                    border-top-left-radius: 0.5rem;
                    border-top-right-radius: 0.5rem;
                    appearance: none;
                    flex: 1;
                    object-fit: cover;
                    background-color: $surfaceColor;
                    background-image: url("../images/imgInputPlaceHolder.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .userformIcon{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%)
                }
                .fileUploadBtn{
                    @include set-background-color($mediumEmphasis);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    padding: 0.4rem 0;
                    svg{
                        width: 1.8rem;
                        height: 1.8rem;
                    }
                }
            }
            .dateInfo{
                @include respond-to('large'){
                    margin-top: 2.4rem;
                }
                display: flex;
                align-items: center;
                flex-flow: column;
                gap: 0.8rem;
            }
            .btnGroupContainer{
                margin-top: auto;
                a,button{
                    @extend %filled;
                    position: relative;
                    svg{
                        position: absolute;
                        left: 1.3rem;
                        top: 1.3rem;
                        width: 1.8rem;
                        height: 1.8rem;
                    }
                }
                .reset, .edit{
                    @include set-background-color($surfaceColor);
                    svg{
                        fill: none;
                    }
                }
                .save{
                    @include set-background-color($primaryColorLight);
                }
            }
        }
    }
}