.fullscreen{
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}
//this div contains the side nav and main content in admin pages
.main{
    flex: 1;
    display: flex;
    max-height: calc(100% - 6rem);
    main{
        flex: 1;
    }
}