//------------------MainHeader------------------
.mainHeader, .headerShadow{
    /*padding .4rem both sides
    to align in 16px margin of 
    the whole page cause the hamburger icon already 
    has 12px own padding*/
    padding: .4rem;
    width: 100%;
    height: 6rem;
    position: fixed;
    @include respond-to('medium2'){
        height: 6rem;
        padding: 0 2.4rem;
    }
    &.show{
        top: 0;
    }
    &::before{
        content: "";
        height: 8rem;
        width: 8rem;
        border-radius: 5rem;
        position: absolute;
        top: 57%;
        left:50%;
        transform: translate(-50%,-43%);
        @include respond-to('medium2'){
            background-size: 9rem 9rem;
            height: 12rem;
            width: 12rem;
            border-radius: 7rem;
            top: 67%;
            left:100%;
            transform: translate(-100%,-33%);
        }
    }
}
.mainHeader{
    @include set-background-color($primaryColor);
    box-shadow: $elevate4dp;
    z-index: 20;
    display: flex;
    align-items: center;
    &::before{
        background-image: url("../images/PUPlogo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 6rem 6rem;
        @include set-background-color($primaryColor);
        @include respond-to('medium2'){
            background-size: 9rem 9rem;
        }
    }
    h1{
        display:none;
        @include respond-to('medium2'){
            /*unhide*/
            display:block;
        }
    }
    .hamburgerIcon, .notificationIcon{
        width: 4.8rem;
        height: 4.8rem;
        @include respond-to('medium2'){
            display:none;
        }
    }
    
}

.headerShadow{
    z-index: 19;

    &::before{
        box-shadow: $elevate4dp;
    }
    
}

//------------------AdminHeader------------------

.adminHeader{
    padding: .8rem 2.4rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    @include set-background-color($surfaceColor);
    box-shadow: $elevate1dp;
    z-index: 24;
    
    .hamburgerAdmin{
        @include respond-to('large'){
        display: none;
        }
        width: 2.2rem;
        display: flex;
        flex-flow: column;
        gap: 0.4rem;
        cursor: pointer;
        margin-left: 1.1rem;
        margin-right: 1.9rem;

        span{
            border-radius: 5rem;
            background-color: $primaryColorLight;
            height: 0.3rem;
            &:first-child,&:last-child{
                width: 1.6rem;
            }
            &:nth-child(2){
                width: 100%;
            }
        }
    }


    .logo{
        content: "";
        background-image: url("../images/PUPlogo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 4.4rem 4.4rem;
        min-height: 4.4rem;
        min-width: 4.4rem;
        border-radius: 7rem;
        //reset
        padding: 0 !important;
    }


    span{
        margin-left: auto;
        margin-right: .8rem;
    }
    a{
        @extend %btn;
        white-space: nowrap;
        overflow: ellipsis;
        @include set-background-color($primaryColorLight);
        text-transform: initial;
        padding: 0 2.5rem !important;
        
        &:link,&:visited{
            color: set-text-color($primaryColorLight);
        }

        &:hover{
            text-decoration: none;
        }

        &:last-child{
            min-width: 16rem !important;
        }

    }

}