//------------------MainNavigation------------------
#Alumni{
    .mainNav{
        .dashboardLink{
            display: none;
        }
    }
}
#Admin{
    .mainNav{
        button{
            display: none;
        }
    }
}
.mainNav{
    position: fixed;
    left: -100%;
    transition: 200ms ease;
    box-shadow: $elevate24dp;
    z-index: 24;
    @include set-background-color($primaryColor);
    width: 30rem;
    height: 100vh;
    padding: .4rem;
    background-image: url("../images/PUPlogo.png");
    background-repeat: no-repeat;
    background-color: $primaryColor;
    background-size: 4rem 4rem;
    background-position: center bottom 5rem;
    @include respond-to('medium2'){
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .8rem;
        top: 6rem;
        left: 0;
        @include set-background-color(#d4d4d4);
        width: 100%;
        height: 4.6rem;
        padding: 0 2.4rem;
        z-index: 18;
        box-shadow: $elevate2dp;
    }
    &.show{
        left: 0;
    }
    .closeIcon{
        width: 4.8rem;
        height: 4.8rem;
        align-self: center;
        @include respond-to('medium2'){
            display: none;
        }
    }
    ul{
        height: inherit;
        display: flex;
        gap: .8rem;
        flex-flow: column;
        @include respond-to('medium2'){
            flex-flow: row;
        }
        a{
            display: inline-block;
            width: 23.8rem;
            padding: 1.2rem 0;
            border-radius: 3rem;
            border: $surfaceColor .1rem solid;
            color: $surfaceColor;
            text-align: center;
            @include respond-to('medium2'){
                display: block;
                width: initial;
                line-height: 4.6rem;
                padding: 0 2rem;
                border: none;
                border-radius: 0;
                color: set-text-color(#d4d4d4);
                &.active{
                    @include set-background-color($backgroundColor);
                }
            }
        }
    } 
    button{
        display: none;
        text-transform: capitalize;
        @extend %filled;
        @include respond-to('medium2'){
            @include set-background-color($surfaceColor);
            display: flex;
            padding: 0 1.6rem;
            margin-right: 10.4rem;
            min-height: 3rem;
        }
        &.active{
            @include set-background-color($primaryColorLight);
            & ~ .userContainer{
                display: flex;
                a:last-child{
                    @extend %btn;
                    @include set-background-color($surfaceColor);
                    position: relative;
                    min-height: 3rem!important;
                    svg{
                        position: absolute;
                        left: 1.3rem;
                    }
                }
            }
        }
    }
    
    .userContainer{
        @include set-background-color($backgroundColor);
        position: absolute;
        top: 4.2rem;
        right: 12.8rem;
        display: none;
        flex-flow: column;
        gap: 1.6rem;
        border-radius: 1rem;
        min-width: 20rem;
        padding: 1.6rem 2.4rem;
        z-index: 100;
        box-shadow: $elevate24dp;
        .avatar{
            position: relative;
            width: 8rem;
            height: 8rem;
            align-self: center;
            img{
                object-fit: cover;
                width: inherit;
                height: inherit;
                border-radius: 100rem;
            }
        }
        p{
            padding-top: 1.6rem;
            text-align: center;
            padding-bottom: 1.6rem;
            border-bottom: 1px solid $disabled;
            color: $mediumEmphasis;
        }
        a{
            display: flex;
            align-items: center;
            gap: 0.4rem;
            text-align: left;
            color: set-text-color($backgroundColor);

            &:first-of-type{
                padding-top: 1.6rem;
                border-top: 1px solid $disabled;
            }
        }
    }
    

    & > a{
        @extend %btn;
        @extend %filled;
        @include set-background-color($surfaceColor);
        margin-right: 10.4rem;
        min-height: 3rem!important;
        font-weight: 500;
        text-transform: capitalize;


    }
    h1{
        text-align: center;
        align-self: flex-end;
        @include respond-to('medium2'){
            display: none;
        }
    }
}



//------------------AdminNavigation------------------
.adminNav{
    min-width: 9.2rem;
    max-width: 9.2rem;
    max-height: 100%;
    box-shadow: $elevate24dp;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 22;
    transition: 200ms ease;
    background-color: ($surfaceColor);
    overflow-x: hidden;
    overflow-y: auto;
    //forfirefox scrollbar
    scrollbar-width: thin;
    scrollbar-color: $disabled $surfaceColor;
    &::-webkit-scrollbar{
        width: 0.5rem;
    }
    &::-webkit-scrollbar-track{
        background-color: $surfaceColor;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $disabled;
        border-radius: 5rem;
    }
    
    @include respond-to('large'){
        min-width: 31.6rem;
        max-width: 31.6rem;
        padding: 2.4rem 2.4rem 4.8rem;
        gap: 4rem;
    }
    .accountNameContainer{
        display: none;
        border-radius: 1rem;
        min-height: 10rem;
        align-self: stretch;
        @include set-background-color($primaryColorLight);
        border-radius: 1rem;
        min-height: 10rem;
        align-self: stretch;
        align-items: center;
        gap: .8rem;
        padding: 2rem 1.4rem 2rem 2rem;
        @include respond-to('large'){
            display: flex;
        }
        
        .imageContainer{
            //line height 0 to reset height
            line-height: 0;
            position: relative;
            &::after{
                position: absolute;
                right: 0;
                bottom: 0;
                content: '';
                background-color: $activeIndicator;
                width: 1.5rem;
                height: 1.5rem;
                border: 3px $surfaceColor solid;
                border-radius: 5rem;
            }
            img{
                border-radius: 5rem;
                width: 6rem;
                height: 6rem;
                object-fit: cover;
            }
        }
        

        a{
            margin-left: auto;
            .icon{
                fill: set-text-color($primaryColorLight);
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }

    .mainCategoryList{
        width: 100%;
        @include respond-to('large'){
            min-height: 25.2rem;
            width: 22rem;
            gap: .8rem;
            margin-bottom: 2rem;
        }
        display: flex;
        flex-flow: column;
        color: $primaryColorLight;
        .mainCategory{
            @include respond-to('large'){
                border-radius: 2.5rem;
            }
            background-color: $backgroundColor;
            &:nth-child(1) .categoryContainer{
                background-image: url("../images/dashboard-icon.svg");
            }
            &:nth-child(2) .categoryContainer{
                background-image: url("../images/accounts-icon.svg");
            }
            &:nth-child(3) .categoryContainer{
                background-image: url("../images/content-icon.svg");
            }
            &:nth-child(4) .categoryContainer{
                background-image: url("../images/survey-icon.svg");
            }
            &:nth-child(5) .categoryContainer{
                background-image: url("../images/job-icon.svg");
            }
            
            a{
                width: 100%;
                display: inline-block;
            }
        }

        .categoryContainer{
            //border default settings
            @extend %btn;
            @extend %outline;
            height: 9.2rem;
            @include respond-to('large'){
                height: initial;
                border-radius: 2.5rem!important;
                border: 1px solid!important;
                border-color: $primaryColorLight!important;
                background-position: left .6rem center;
            }
            //overide
            border-radius: 0!important;
            border: none!important;
            position: relative;
            text-transform: capitalize; 
            background-color: $surfaceColor;
            background-repeat: no-repeat;
            background-position: top 2rem center;
            background-size: 3.2rem 3.2rem;
            padding: 0  !important; // remove the default padding

            a, span:first-child{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                padding: 2rem 0;
                /* position: absolute;
                top: 5.2rem;
                left: 50%;
                transform: translateX(-50%); */
                @include respond-to('large'){
                    min-height: inherit;
                    padding: 0;
                    align-items: center;
                }
            }
            .dropArrow{
                display: none;
                @include respond-to('large'){
                    display: block;
                }
                width: 3.2rem;
                height: 3.2rem;
                position: absolute;
                right: .6rem;
                svg{
                    fill: $primaryColorLight;
                }
            }
        }

        .subCategoryList{
            visibility: hidden;
            max-height: 0;
            transition: 200ms ease, visibility 100ms ease;
            display: flex;
            flex-flow: column;
            gap: 0.8rem;
        }

        .open{
            &:nth-child(1) .categoryContainer{
                background-image: url("../images/dashboardActive-icon.svg");
            }
            &:nth-child(2) .categoryContainer{
                background-image: url("../images/accountsActive-icon.svg");
            }
            &:nth-child(3) .categoryContainer{
                background-image: url("../images/contentActive-icon.svg");
            }
            &:nth-child(4) .categoryContainer{
                background-image: url("../images/surveyActive-icon.svg");
            }
            &:nth-child(5) .categoryContainer{
                background-image: url("../images/jobActive-icon.svg");
            }

            .categoryContainer{
                @extend %filled;
                @include set-background-color($primaryColorLight);
                a{
                    color: set-text-color($primaryColorLight);
                }
            }

            .dropArrow{
                transform: rotate(180deg);
                svg{
                    fill: $surfaceColor;
                }
            }
            .subCategoryList{
                visibility: visible;
                max-height: 200px;
                padding: 0.8rem 0;
            }
        }
    }

    button{
        @extend %filled;
        @include respond-to('large'){
            display: flex;
        }
        display: none;
        width: 22rem;
        border-radius: 2.5rem;
        margin-top: auto;
        box-shadow: $elevate1dp;
        position: relative;
        svg{
            position: absolute;
            left: 1.3rem;
            top: 1.3rem;
            width: 1.8rem;
            height: 1.8rem;
            fill: set-text-color($surfaceColor);
        }

        &:focus, &:hover{
            @include set-background-color($primaryColorLight);
            svg{
                fill: set-text-color($primaryColorLight);
            }
        }
    }
    //class to toggle side nav
    &.navOpen{
        min-width: 31.6rem;
        max-width: 31.6rem;
        padding: 2.4rem 2.4rem 4.8rem;
        gap: 4rem;

        .accountNameContainer{
            display: flex;
        }
        .mainCategoryList{
            min-height: 25.2rem;
            width: 22rem;
            gap: .8rem;

            .mainCategory{
                border-radius: 2.5rem;
            }

            .categoryContainer{
                height: initial;
                border-radius: 2.5rem!important;
                border: 1px solid!important;
                border-color: $primaryColorLight!important;
                background-position: left .6rem center;
            }

            a, span:first-child{
                min-height: inherit;
                padding: 0;
                align-items: center;
            }

            .dropArrow{
                display: block;
            }
        }

        button{
            display: block;
        }
    }
}
.users .adminNav{
    box-shadow: $elevate1dp;
}