//remove accessibility to navigation bar
.userSurvey{
    & ~ .mainNav{
        & > *{
            display: none;
        }
        //except the userButton
        & > button{
            display: flex;
            margin-left: auto;
            //hide other options except logout
            & ~ .userContainer{
                & > a{
                    display: none;
                }
                & > a:last-of-type{
                    display: block;
                }
            }
        }
    }

    .hamburgerIcon{
        display: none;
    }

    //main starts here
    & ~ .alumni{

        .heroBox{
            height: 36rem;
            width: 100%;
            position: absolute;
            z-index: -1;
        }
        .mainContent{
            
            width: 100%;
            z-index: 24;
            .container{
                /* use longhand margin property 
                because there is a shorthand declaration 
                of margin for all .container class */
                margin: 3.2rem 1.6rem;
                box-shadow: $elevate24dp;
                border-radius: 1rem;
                padding: 0 1.6rem 4.8rem;
                @include respond-to('medium2'){
                    padding: 0 9.6rem 4.8rem;
                    margin-top: 4.8rem;
                    margin-bottom: 4.8rem;
                }
                @include set-background-color($surfaceColor);
                .form{
                    gap: 2.4rem;
                    h1,h2{
                        
                        padding: 2.4rem 0;
                        border-bottom: 1px solid $disabled;
                        }
                    h1{
                        text-align: center;
                    }
                    &>p{
                        margin-bottom: 1.2rem;
                        text-align: center;
                        color: $mediumEmphasis;
                    }
                    .surveyCard{
                        max-width: 65.6rem;
                        width: 100%;
                        margin: 0 auto;
                        padding: 2.4rem 4.8rem;
                        p{
                            color: $mediumEmphasis;
                            margin-top: 0.8rem;
                            margin-bottom: 1.6rem;
                        }
                        
                    }
                    //for the link to the actual survey questions 
                    button,a{
                        @extend %btn;
                        @extend %filled;
                        @include set-background-color($activeIndicator);
                        align-self: center;
                        width: 16rem;
                    }
                    //submit the survey
                    button{
                        align-self: center;
                        @include respond-to('medium2'){
                            align-self: flex-end;
                        }
                        width: 18rem;

                    }
                }
            }
        }
    }
}



