.alumniNews{
    & > section{
        &.heroBox{
            .container{
                display: flex;
                align-items: center;
                flex-flow: wrap;
                /* gap: 1.6rem; */
                /* padding: 0.8rem 0 1.6rem; */
                @include respond-to('medium2'){
                    /* padding: 0.8rem 0; */
                    justify-content: space-between;
                }
                h1{
                    max-width: max-content;
                }

                /* .textFieldContainer{
                    display: none;
                    border-radius: 5rem;
                    min-width: 26rem;
                    @include respond-to('medium2'){
                        display: flex;
                    }
                    input{
                        border-radius: 5rem 0 0 5rem;
                    }
                    .icon{
                        border-radius: 0 5rem 5rem 0;
                    }
                } */
            }
        }
        &.mainContent{
            padding-top: 2.4rem;
            .newsCon{
                @include set-background-color($backgroundColor);
                overflow: hidden;
            }

            
            .card{
                @include set-background-color($surfaceColor);
                position: relative;
                transform: translateY(10%);
                visibility: hidden;
                opacity: 0;
                transition: opacity 350ms ease-in ,transform 400ms ease-in;
                /* &:nth-child(odd){
                    transform: translateX(70%);
                } */
                &.appear{
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                }

            }
            .card-img{
                //reset
                width: initial;
                flex: 1;
                @include respond-to('medium2'){
                    width: 41.2rem;
                    max-height: 23.5rem;
                    flex: 0;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 1rem;
                }
            }
            .card-body{
                flex: 1;
                min-width: 28rem;
                .caption{
                    margin-top: 0;
                    margin-bottom: 1.6rem;
                }
                .description{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    @include respond-to('medium2'){
                        margin-bottom: 1.6rem;
                    }
                }
                
            }
            //newsView override
            &.newsView{
                margin: 0;
                padding-bottom: 3.2rem;
                background-color: $surfaceColor;
                .newsCon{
                    @include set-background-color($surfaceColor);
                }
                .card{
                    flex-flow: column;
                    @include set-background-color($surfaceColor);
                    margin: 0 2.4rem;
                }
                h3{
                    color: $primaryColorLight;
                    font-size:$h2-text-mobile;
                    @include respond-to('medium2'){
                        font-size:$h2-text-desktop;
                    }
                }
                .card-img{
                    flex: 1;
                    width: 100%;
                    max-height: 20.4rem;
                    border-radius: 0;
                    
                    margin-bottom: 1.6rem;
                    @include respond-to('medium2'){
                        max-height: 69.6rem;
                    }
                }
                .card-body{
                    padding: 1.6rem 0;
                    margin: 0;
                }
                .caption{
                    border-top: 1px solid $disabled;
                    margin-bottom: 2.4rem!important;
                }
                .description{
                    display: block;

                }

                &~.moreContent{
                    @include set-background-color($backgroundColor);
                    .additional{
                        
                        h3{
                            border-color: currentColor;
                        }
                    }
                }
            }
        }
        &.moreContent{
            @include set-background-color($primaryColorLight);
            .additional{
                padding: 3.2rem 2.4rem 3.2rem;
                @include respond-to('medium2'){
                    padding: 3.2rem 0 3.2rem;
                }
                h3{
                    border-color: $backgroundColor;
                    margin-bottom: 2.4rem;
                    @include respond-to('medium2'){
                        margin-bottom: 3.2rem;
                    }
                }
                ul{
                    display: flex;
                    flex-flow: column;
                    /* row-gap: 0.8rem; */
                    &>*+*{
                        margin-top: 0.8rem;
                    }
                    padding: 0 0.8rem;
                    @include respond-to('medium2'){
                        padding: 0 4rem;
                    }
                }
                a{
                    color: currentColor;
                }
                .pagination{
                    margin-top: 3.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    /* gap: 0.8rem; */
                    &>*+*{
                        margin-left: 0.8rem;
                    }
                    a{
                        width: 2.4rem;
                        height: 2.4rem;
                    }
                    svg{
                        fill: currentColor;
                        width: inherit;
                        height: inherit;
                    }
                }
            }
        }
    }
}