.gallery{
    .mainContent{
        padding: 0 !important;
        margin: 0!important;
        @include respond-to('medium2'){
            padding: 3.2rem 0 6.4rem !important;
        }
    }
    .gal-card{
        box-shadow: $minimalShadow;
    }
    
    .galcon, .mainContent .container{
        padding-left:  2.4rem;
        padding-right:  2.4rem;
        @include set-background-color($surfaceColor);
        
    }
    .galCon{
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(100%,1fr));
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
        column-gap: 2.4rem;
        row-gap: 3.2rem;
        @include respond-to('medium2'){
            grid-template-columns: repeat(auto-fill,minmax(40rem,1fr));
        }
        a{
            &>*+*{
                margin-top: 0.8rem;
            }
        }
    }

    a{
        text-align: start;
        color: currentColor;
    }
    .image-container{
        position: relative;
        padding-top: 56.25%;
        overflow: hidden;
        img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            transition: 200ms ease;
            &:focus,&:hover{
                transform: scale(1.025);
                filter: brightness(1.2);
            }
        }
    }
    img{
        object-fit: cover;
    }
    .pagination{
        grid-column: 3;
        margin-top: 1.6rem;
        padding-bottom: 4.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        /* gap: 0.8rem; */
        &>*+*{
            margin-left: 0.8rem;
        }
        a{
            width: 2.4rem;
            height: 2.4rem;
        }
        svg{
            fill: currentColor;
            width: inherit;
            height: inherit;
        }
    }

    //override gallery view
    .mainContent.view{
        padding: 2.4rem 0 4.8rem!important;
        &>a,&>.image-container, .galCon{
            grid-column: 1/5;
            @include respond-to('medium2'){
                grid-column: 2/12;
                margin-left: 1.6rem;
                margin-right: 1.6rem;
            }
        }
        
        &>a{
            display: flex;
            align-items: center;
            font-size: $overline-text-desktop;
            padding-left:  2.4rem;
            padding-right:  2.4rem;
        }
        &>.image-container{
            margin-top: 2.4rem;
            margin-left: 2.4rem;
            margin-right: 2.4rem;
            padding-top: 0;
            min-height: 46rem;
            
            @include respond-to('medium2'){
                margin-left: 4rem;
                margin-right: 4rem;
                padding-top: 42.85%;
                min-height: 0
            }

            .album-cover-title{
                @include set-background-color($disabled);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 0 2.4rem;
                @include respond-to('medium2'){
                    padding: 0 6.4rem;
                }
                @include respond-to('large'){
                    padding: 0 11.2rem;
                }
                h1{
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    font-size: $h2-text-mobile;
                    font-family: 'Merriweather', serif;
                    @include respond-to('medium2'){
                        font-size: 4.8rem
                    }
                }
            }
        }
        
        .galCon{
            padding-top: 0.8rem;
            @include set-background-color(transparent);
            column-gap: 0.8rem;
            row-gap: 0.8rem;
            @include respond-to('medium2'){
                grid-template-columns: repeat(auto-fill,minmax(60rem,1fr));
                
            }
            
            li{
                position: relative;
                cursor: pointer;
                &:nth-child(5){
                    grid-column: 1/-1;
                }
                &:focus,&:hover{
                    .filter{
                        visibility: visible;
                        max-height: 100%;
                    }
                }
                .filter{
                    transition-duration: 600ms, 250ms;
                    transition-property: max-height,visibility;
                    transition-timing-function: ease, ease-in-out;
                    transition-delay: 0, 100ms;
                    bottom: 0;
                    max-height: 0;
                    margin-top: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    visibility: hidden;
                    background: linear-gradient(0deg, rgba(0,0,0,0.4009804605435925) 0%, rgba(255,255,255,0) 100%);
                }
    
                h3{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    padding: 2.4rem;
                }
                img{
                    &:focus,&:hover{
                        transform: none;
                        filter: brightness(1);
                    }
                    
                }
            }
        }
    }

    
}