
.dashboard{
    //forfirefox scrollbar
    scrollbar-width: thin;
    scrollbar-color: $disabled $surfaceColor;
    &::-webkit-scrollbar{
        width: 0.5rem;
    }
    &::-webkit-scrollbar-track{
        background-color: $surfaceColor;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $disabled;
        border-radius: 5rem;
        
    }
    overflow-y: auto;
    canvas{
        max-height: 100%!important;
        max-width: 100%!important;
    }
    .pageSpecificHeader{
        & > div{
            svg{
                width: 14.6rem;
                height: 6.3rem;
            }
        }
        .dateTimeContainer{
            .currentTime{
                font-size: $h2-text-desktop;
            }
        }
    }
    .mainContent{
        max-height: 100%!important;
        //reset
        box-shadow: none;
        display: flex;

        .container{
            display: flex;
            flex-flow: column;
            //specific for first con
            &:first-child{
                flex: 1;
                .hor-con{
                    display: flex;
                    .card-con{
                        position: relative;
                        &:nth-child(2){
                            margin-left: 2.4rem;
                            &>svg{
                                top: 3.2rem;
                                right: 1.6rem;
                                width: 7.5rem;
                                height: 6rem;
                                @include respond-to('large'){
                                    top: 1.6rem;
                                    right: 3.2rem;
                                    width: 11.4rem;
                                    height: 9.1rem;
                                }
                            }
                        }
                        &:last-child{
                            margin-top: 0;
                        }
                        &>svg{
                            position: absolute;
                            fill: none;
                            top: 3.2rem;
                            right: 1.8rem;
                            width: 13.1rem;
                            height: 6rem;
                            @include respond-to('large'){
                                top: 1.6rem;
                                right: 3.2rem;
                                width: 20rem;
                                height: 9.1rem;
                            }
                        }
                    }
                    //for the bar graph in first container
                    &~.card-con{
                        padding: 1.6rem 2.4rem;
                        display: flex;
                        flex-flow: column;
                        .card-header{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .textFieldContainer{
                                min-width: 15rem;
                                select{
                                    padding: 0.95rem 1.5rem;
                                }
                            }
                        }
                        .chart-con{
                            flex: 1;
                            max-height: 41rem;
                            margin-top: 1.6rem;
                        }
                    }
                }
            }
            //specific for last con
            &:last-child{
                margin-left: 2.4rem;
                min-width: 30%;
                max-width: 30%;
                .card-con{
                    display: flex;
                    flex-flow: column;
                    &:first-child{
                        max-height: 30rem;
                    }
                    
                    .chart-con{
                        flex: 1;
                        max-height: 13.8rem;
                    }
                    &>*+*{
                        margin-top: 0.8rem;
                    }
                    &:last-child{
                        ul{
                            flex: 1;
                            li{
                                display: flex;
                                &>*+*{
                                    margin-left: 0.8rem;
                                }
                            }
                            .time-elapsed{
                                display: flex;
                                align-items: center;
                                &>*{
                                    margin-right: 0.4rem;
                                }
                            }
                        }
                        img{
                            object-fit: cover;
                            border-radius: 10rem;
                            border: 3px solid $surfaceColor;
                            background-color: $surfaceColor;
                            min-width: 5rem;
                            min-height: 5rem;
                            width: 5rem;
                            max-height: 5rem
                        }
                    }
                }
            }
            //general 
            .card-con{
                @include set-background-color($surfaceColor);
                padding: 1.6rem 2.4rem 0;
                border-radius: 1rem;
                box-shadow: $elevate3dp;
                flex: 1;
                &:last-child{
                    margin-top: 2.4rem;
                }
                .card-footer{
                    margin-top: 0.8rem;
                    padding: 1.2rem 0;
                    border-top: 1px solid $disabled;
                    display: flex;
                    &>*+*{
                        margin-left: 0.8rem;
                    }
                    button{
                        @extend %filled;
                        min-width: 2.4rem;
                        min-height: 2.4rem;
                        padding: 0;
                        border-radius: 10rem;
                        @include set-background-color($backgroundColor);
                        &.active{
                            @include set-background-color($primaryColorLight);
                        }
                        
                    }
                    a{
                        display: flex;
                        align-items: center;

                    }
                }
            }
            //singleComponents
            input[type="text"],input[type="date"],input[type="tel"],input[type="email"],select,textarea{
                border-radius: 0.5rem;
                border-right: 1px solid $textfield-border !important;
                padding-right: 1.6rem;
                &:focus{ 
                    border-right: 1px $mediumEmphasis solid!important;
                }
            }
        }
    }
}
