
.home{
    background-color: $surfaceColor;
    & > section{
        &.mainContent{
            @include respond-to('medium2'){
                /* grid-template-rows: 2fr 1fr 1fr; */
                grid-auto-rows: minmax(16.4rem, auto);
            }
        }
    }

    .heroBox{
        padding: 9rem 0 0 !important;
        background-position: top 6rem center!important;
        @include respond-to('medium2'){
            padding: 8.2rem 0 0 !important;
            background-position: top -7.5rem center!important;
        }
        @include respond-to('large'){
            background-position: top -18rem center!important;
        }
        .container{
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            h1{
                margin-bottom: 0.8rem;
                @include respond-to('medium2'){
                    line-height: 1.31;
                    margin-bottom: 0;
                }
            }   
        }
    }

    .welcomeBox{
        display: none;
        @include set-background-color($backgroundColor);
        padding: 2.4rem 0.8rem;
        @include respond-to('medium2'){
            display: grid;
            padding: 3.2rem 0;
        }
        div.container{
            display: grid;
            grid-template-columns: 4.5rem 1fr;
            grid-template-areas: "svg header"
                                 "message message";
            column-gap: 0.8rem;
            row-gap: 1.6rem;
            align-items: center;
            @include respond-to('medium2'){
                column-gap: 2.4rem;
                row-gap: 0.8rem;
                grid-template-columns: 12.7rem 1fr;
                grid-template-areas: "svg header"
                                     "svg message";
            }
            svg{
                grid-area: svg;
            }
            h2{
                grid-area: header;
                border-bottom: 1px solid $disabled;
                padding-bottom: 0.8rem;
            }
            p{
                grid-area: message;
                align-self: start;
            }
        }
    }

    Section.mainContent{
        row-gap: 2.4rem;
        &>div>h2{
            display: flex;
            align-items: center;
            /* gap: 0.8rem; */
            &>*{
                margin-right: 0.8rem;
            }
            border: none !important;
        }
        hr{
            color: $disabled;
            @include respond-to('medium2'){
                display: none;
            }
        }
        .newsCon{
            
            @include respond-to('medium2'){
                grid-column: 2/9;
                padding-right: 4rem;
                margin-right: 1.6rem;
                border-right: 1px solid $mediumEmphasis;
                a{
                    margin-bottom: 0 !important;
                }
            }
            @include respond-to('large'){
                grid-column: 3/9;
            }
        }
        .eventsCon,.jobCon,.myDisCon{
            @include respond-to('medium2'){
                grid-column: 9/12;
                margin: 0!important;
            }
            @include respond-to('large'){
                grid-column: 9/11;
            }
        }
        .newsCon{
            @include respond-to('medium2'){
                grid-row: 1/5;
            }
        }
        .eventsCon{
            @include respond-to('medium2'){
                grid-row: 1/2;
            }
            & > a{
                @include set-background-color($backgroundColor); 
             }
        }
        .jobCon{
            @include respond-to('medium2'){
                grid-row: 2/3;
            }
            .card-title{
                h3{
                    @include respond-to('medium2'){
                        max-width: 12rem;
                    }
                }
            }
        }
        .myDisCon{
            @include set-background-color($surfaceColor);
            border-radius: 1rem;
            display: flex;
            flex-flow: column;
            &>*:first-child{
                margin-bottom: 2.4rem;
            }
            @include respond-to('medium2'){
                &>*:first-child{
                    margin-bottom: 3.2rem;
                }
            }
            
            .conHeader{
                display: flex;
                align-items: center;
                &>*+*{
                    margin-left: 0.8rem;
                }
            }
        }
        article{
            box-shadow: $minimalShadow;
        }
    }
}