.loginMain{
    height: 100vh;
    background-image: url("../images/loginBackground-1.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vw;
    display: flex;
    flex-flow: column;
    @include respond-to('medium2'){
        flex-flow: row;
        background-size: initial;
    }
    .pupPylon{
        position: absolute;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
        width: 25rem;
        height: 27rem;
        @include respond-to('medium2'){
            flex: 1;
            align-self: flex-end;
            height: 50vw;
            //reset
            position: initial;
            transform: translate(0);
        }
    }
    
    & > div{
        position: relative;
        margin-top: 30vh;
        min-height: 42rem;
        background-color: $surfaceColor;
        box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: .25),
                    0px 9px 46px 8px rgba($color: #000000, $alpha: .12),
                    0px 24px 38px 3px rgba($color: #000000, $alpha: .14),
                    0px 0px 200px 50px rgba($color: #000000, $alpha: .04);
        flex: 1;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;
        
        //pupLogo
        &::before{
            position: absolute;
            top: -4rem;
            min-width: 8rem;
            min-height: 8rem;
            content: "";
            background-image: url("../images/PUPlogo.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 8rem 8rem;
            border-radius: 5rem;
            box-shadow: $elevate2dp;
        }
        @include respond-to('medium2'){
            @include set-background-color($surfaceColor);
            flex: 1;
            gap: 2.4rem;
            //reset
            margin-top: 0;

            //just to center vertically the whole form ui including the visible logo
            &::before{
                min-width: 10rem;
                min-height: 10rem;
                content: "";
                position: initial;
                visibility: hidden;
            }
        }
    }

    header{
        text-align: center;
        display: flex;
        flex-flow: column;

        div{
            min-width: 27rem;
            height: 0.1rem;
            color: $disabled;
            background-color: $disabled;
        }

        @include respond-to('medium2'){
            position: relative;
            gap: 0.8rem;

            //the actual visible logo for desktop view
            &::before{
                position: absolute;
                top: -2.4rem;
                left: 50%;
                transform: translate(-50%,-100%);
                min-width: 10rem;
                min-height: 10rem;
                content: "";
                background-image: url("../images/PUPlogo.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 10rem 10rem;
                border-radius: 5rem;
                box-shadow: $elevate2dp;
            }

            div{
                box-shadow: 0px 0px 1px rgba($color: #000000, $alpha: .25);
            }
        }
    }

    form{
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 1.6rem;
        //just to limit the width in firefox
        max-width: 30rem;

        .textFieldContainer{
            .icon{
                path{
                    fill: $mediumEmphasis;
                }
            }
            //just to limit the width in firefox
            #verification-code{
                max-width: 100%
            }
        }
        @include respond-to('medium2'){
            gap: 2.4rem;
            min-width: 30rem;

            .textFieldContainer{
                align-self: stretch;
            }
        }
        

        button{
            @include set-background-color($primaryColorLight);
            @extend %filled;
            width: 16rem;
        }
        //registartion overide
        &.registration{
            border: 1px solid $disabled;
            border-radius: 1rem;
            padding: 2.4rem 4.8rem 3.2rem;
            align-items: stretch;
            //reset
            max-width: 62.4rem;

            .input-con-list{
                display: flex;
                flex-flow: wrap;
                &>*+*{
                    margin-top: 1.6rem;
                    
                }
                &>*:nth-child(2){
                    @include respond-to('medium2'){
                        margin-top: 0;
                    }
                }
                &>*{
                    flex: 1;
                    &:nth-child(even){
                        @include respond-to('medium2'){
                            margin-left: 4rem;
                        }
                    }
                }
                
            }

            //single components
            input[type="text"],input[type="password"],input[type="date"],input[type="tel"],input[type="email"],select,textarea{
                border-radius: 0.5rem;
                border-right: 1px solid $textfield-border !important;
                min-width: 24rem;
                padding-right: 1.6rem;
                &:focus{ 
                    border-right: 1px $mediumEmphasis solid!important;
                }
            }
            .textFieldContainer{
                min-width: 1.8rem;
            }
        }
    }

    a{
        span{
            color: currentColor;
        }
    }
}
