.survey{
    .mainContent{
        .data-table{
            th,td{
                //width of the columns set here.
                &:nth-child(2){
                    min-width: 2.8rem;
                    height: 2.8rem;
                }
                &:nth-child(3){
                    min-width: 13.6rem;
                    flex: 1;
                    margin-left: 1.2rem;
                }
                
                &:nth-child(4){
                    flex: 2;
                }
                
                &:nth-child(5),&:nth-child(6){
                    min-width: 12.6rem;
                }
            }
            td{
                &:nth-child(2){
                    &.google-form{
                        background-image: url("../images/google-forms-icon-only.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
    }
}