.report{
    .mainContent{
        margin: 0;
        padding: 2.4rem 7.2rem;
        display: flex;
        flex-flow: column;
        /* gap: 4.8rem; */
        &>*+*{
            margin-top: 4.8rem;
        }

        //forfirefox scrollbar
        scrollbar-width: thin;
        scrollbar-color: $disabled $surfaceColor;
        flex-flow: column;
        flex: 1;
        &::-webkit-scrollbar{
            width: 0.5rem;
        }
        &::-webkit-scrollbar-track{
            background-color: $surfaceColor;
        }
        &::-webkit-scrollbar-thumb{
            background-color: $disabled;
            border-radius: 5rem;
            
        }
        //reset
        box-shadow: none;
        overflow: auto;
        max-height: none;
        
        h2,h3{
            border-bottom: 1px solid $disabled;
        }
        
        h3{
            z-index: 2;
            display: flex;
            align-items: center;
            padding-top: 1.6rem;
            padding-bottom: 0.8rem;
            height: 13.2rem;
            overflow: hidden;
        }
        
        .card-list{
            display: grid;
            /* flex-flow: wrap; */
            grid-template-columns: repeat(auto-fill, minmax(34rem, 1fr));
            column-gap: 2.4rem;
            row-gap: 4.8rem;
        }

        .survey-card{
            transition: 200ms ease;
            position: relative;
            flex: 1 34.2rem;
            max-width: 34.7rem;
            max-height: 31.3rem;
            min-height: 31.3rem;
            box-shadow: $elevate8dp;
            border-radius: 1rem;
            background-color: $surfaceColor;
            background-image: url('../images/reportCardBg.png');
            z-index: 24;
            display: flex;
            flex-flow: column;
            /* gap: 1.6rem; */
            &>*:nth-child(2),
            &>*:nth-child(3){
                margin-top: 0!important;
            }
            &>*+*{
                margin-top: 1.6rem!important;
            }
            & > *{
                margin: 0 3.2rem 0 3.2rem;
            }
            &:focus,&:hover{
                & .card-link{
                    height: 100%;
                    visibility: visible;
                }
                
            }
            & > .card-link{
                content: 'VIEW';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 0;
                visibility: hidden;
                transition: all 600ms ease, visibility 100ms ease 100ms;
                border-radius: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                @include set-background-color(rgba(0,0,0,.4));
                font-size: 3.6rem;
                font-weight: 500;
                //reset
                margin: 0;
                border: 0;
                z-index: 24;
                text-decoration: none;
            }
            
            &>p{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &.google-form{
                .survey-footer{
                    position: relative;
                    .google-form-icon{
                        position: absolute;
                        right: 0.8rem;
                        top: 0;
                        width: 11.8rem;
                        height: 4.6rem;
                        background-image: url("../images/google-forms-icon2.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
        
        .card-svg{
            border-radius: 1rem;
            position: absolute;
            z-index: -1;
            min-width: 100%;
            min-height: 100%;
            margin: 0;
            opacity: 0.5;
        }

        .survey-footer{
            @include set-background-color($primaryColorLight);
            border-radius: 0 0 1rem 1rem;
            filter: opacity(.9);
            margin: 0;
            margin-top: auto!important;
            display: flex;
            /* gap: 0.4rem; */
            &>*+*{
                margin-left: 0.4rem;
            }
            padding: 1.2rem 3.2rem;
        }
    }
}